
raryVIM
*.swp
# python compiled file
*.pyc
*.swn

# temp editing files
*.swap
*.swp
*.swo

# env dir
venv

# info
*.*-info

# build
build

# distribution files
dist
*.egg

# intellij idea project directory
.idea/*

__pyache__/*
